 <link rel="shortcut icon" href="../imgs/favicon.png">


<link href="https://fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
<link href='https://fonts.googleapis.com/css?family=RobotoDraft:100,300,400,500,700,400italic' rel='stylesheet' type='text/css'>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<link href="../lib/google.css" rel="stylesheet" />
<link href="../lib/app.css" rel="stylesheet" />
<link href="../lib/fotorama.css" rel="stylesheet" />

<meta name="viewport" content="width=device-width,initial-scale=1">

<link href="../app.css" rel="stylesheet" />