<div id="side-nav" class="qp-ui" data-qp-ui="{ 'SideNavDrawer': {} }">
  <div class="side-nav-wrapper">
    <a id="logo" href="../landing/index.html">
    <img src="../imgs/logo1.svg" alt="logo" style="width:25%;height:25%;">
    <img id = "title" src="../imgs/MVPD.svg" alt="MVPD" style="width:50%;height:50%;margin-left:10px;margin-bottom:12px;">
    <!-- <h5 id="title">MVPD</h5> -->
    <!-- <span>Multi-Video Platform Distributor</span> -->
  </a>
    <nav>
      <dl>

        <hr/>
        <div class="menu__header js-menuHeader">Rights Management</div>
        <div class="menu__list is-closed">
          <div class="menu__wrapper">
            <a class="menu__item" href="/retrans/introduction.html">Introduction</a>
            <div class="menu__header js-menuHeader">Interviews</div>
            <div class="menu__list is-closed">
              <div class="menu__wrapper">
                <a class="menu__item" href="/retrans/operationsmanager.html">Daily Operations Manager</a>
              </div>
            </div>
            <!---- <a class="menu__item" href="/retrans/userjourneys.html">User Journeys</a> -->
          </div>
        </div>

        <hr/>
        <!-- <div class="menu__header js-menuHeader">GDT (Global Descriptor Table)</div>
        <div class="menu__list is-closed">
          <div class="menu__wrapper">
            <a class="menu__item" href="/interviews/operationsmanager.html">Introduction</a>
            <div class="menu__header js-menuHeader">Interviews</div>
            <div class="menu__list is-closed">
              <div class="menu__wrapper">
                <a class="menu__item" href="/interviews/operationsmanager.html">Daily Operations Manager</a>
              </div>
            </div>
             <a class="menu__item" href="/interviews/operationsmanager.html">User Journeys</a>
          </div>
        </div>
        <hr/> -->



        <div class="menu__header js-menuHeader">Onboarding</div>
        <div class="menu__list is-closed">
          <div class="menu__wrapper">
            <a class="menu__item" href="../onboarding/discovery.html">Discovery</a>
            <a class="menu__item" href="/onboarding/requirements.html">Requirements</a>
            <a class="menu__item" href="/onboarding/wireframes.html">Wireframe</a>
          </div>
        </div>

        <hr/>


        <!--
        <div class="menu__header js-menuHeader">Requirements</div>
        <div class="menu__list is-closed">
          <div class="menu__wrapper">
            <a class="menu__item" href="/requirements/mvprequirements.html">MVP Requirements</a>
            <a class="menu__item" href="/requirements/fullrequirements.html">Full Requirements</a>
          </div>
        </div>

        <div class="menu__header js-menuHeader">Design</div>
        <div class="menu__list is-closed">
          <div class="menu__wrapper">
            <a class="menu__item" href="/design/mvpdesign.html">MVP Design</a>
            <a class="menu__item" href="/design/fulldesign.html">Full Design</a>
          </div>
        </div>
      -->

      </dl>
    </nav>

    <a target="_blank" href="//portfolio.nbcuxlab.com">
      <div id="logo" class="logo--bottom">
        <img src="../imgs/icons/nbcuxlab.svg" alt="NBC UX Lab" style="height:32px;">
        <span>NBCUX LAB</span>
      </div>
    </a>

  </div>

</div>

</div>
</div>
